[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://task-manager-backend-3fpg.onrender.com/api"
  SECRETS_SCAN_OMIT_KEYS = "VITE_API_URL"
